<div class="about-us">
  <div class="title">
    <h1>We are</h1> 
    <h1 class="subtitle">Digital Agency</h1>
  </div>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Blandit id fringilla turpis tempor enim. Vel tristique suspendisse eget sodales egestas. Donec duis lacus, odio velit eu eget ac tortor. Ac sit ultricies hendrerit pellentesque arcu fames sit lectus. Scelerisque id bibendum velit cras. 
  </p>
  <button>Learn more</button>

  <common-indicator/>
</div>

<div class="introduction-image">
  <img src="../../assets/1-cherrydeck.png" />
</div>
