<h2 class="title">Blog</h2>

<ul class="blog-articles">
  <li class="card" *ngFor="let item of [11, 12, 13]">
    <div class="card-inner">
      <div class="image-container">
        <img src="../../assets/{{ item }}-blog.png"/>
        <div class="label">Techno</div>
      </div>

      <div class="timestamp">
        <span>24/04/2002</span>
        <span>15:00</span>
      </div>

      <div class="texts">
        <h3>Tiktok Banned in India</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Blandit id fringilla turpis tempor enim. Vel tristique suspendisse eget sodales egestas. Donec duis lacus, odio velit</p>
      </div>

    </div>
    <div class="line"></div>
  </li>
</ul>