@use "sass:map";
@use "sass:color";

$screen: (
  'xs': 20em, // 320px
  'sm': 30em, // 480px
  'md': 48em, // 768px
  'lg': 62em, // 992px
  'xl': 80em, // 1280px
  '2xl': 96em, // 1536px
);

$background-dark: #0B0F15;
$background-lite-dark: #0C1117;

$color-blue: #003ADB;
$font-fira: 'Fira Sans', sans-serif;