@import './variables';

body {
  background-color: $background-dark;
  min-height: 100vh;
  color: white;

  font-family: $font-fira;
  
  button {
    font-family: $font-fira;
    cursor: pointer;
    border: none;
  }

  h2.title {
    font-size: 3rem;
    font-weight: 500;
  }
}
